<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs") %>

    <body>
        <%- include("../partials/header.ejs") %>
            <main>
                <div>
                    <a href="/recipes/new/"><button>Create a New Recipe</button></a>
                    <% for (recipe of recipes) { %>
                        <article>
                            <a href="/recipes/<%= recipe._id %>">
                                <h2>
                                    <%= recipe.title %>
                                </h2>
                            </a>
                        </article>
                        <% } %>
                </div>
            </main>
    </body>

</html>